{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $view := .Parent.Params.design.view }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ if eq $view 1 }}
      {{ partial "li_list" . }}
    {{ else if eq $view 3 }}
      {{ partial "li_card" . }}
    {{ else }}
      {{ partial "li_compact" . }}
    {{ end }}
  {{ end }}

  {{ partial "pagination" . }}

</div>

{{- end -}}
